<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @nba_team.name %>
</p>

<p>
  <b>Season:</b>
  <%= @nba_team.season %>
</p>

<p>
  <b>Home wins:</b>
  <%= @nba_team.home_wins %>
</p>

<p>
  <b>Home losses:</b>
  <%= @nba_team.home_losses %>
</p>

<p>
  <b>Away wins:</b>
  <%= @nba_team.away_wins %>
</p>

<p>
  <b>Away losses:</b>
  <%= @nba_team.away_losses %>
</p>

<p>
  <b>Home ats wins:</b>
  <%= @nba_team.home_ats_wins %>
</p>

<p>
  <b>Home ats losses:</b>
  <%= @nba_team.home_ats_losses %>
</p>

<p>
  <b>Home ats pushes:</b>
  <%= @nba_team.home_ats_pushes %>
</p>

<p>
  <b>Away ats wins:</b>
  <%= @nba_team.away_ats_wins %>
</p>

<p>
  <b>Away ats losses:</b>
  <%= @nba_team.away_ats_losses %>
</p>

<p>
  <b>Away ats pushes:</b>
  <%= @nba_team.away_ats_pushes %>
</p>

<p>
  <b>Home overs:</b>
  <%= @nba_team.home_overs %>
</p>

<p>
  <b>Home unders:</b>
  <%= @nba_team.home_unders %>
</p>

<p>
  <b>Away overs:</b>
  <%= @nba_team.away_overs %>
</p>

<p>
  <b>Home over under pushes:</b>
  <%= @nba_team.home_over_under_pushes %>
</p>

<p>
  <b>Away unders:</b>
  <%= @nba_team.away_unders %>
</p>

<p>
  <b>Away over under pushes:</b>
  <%= @nba_team.away_over_under_pushes %>
</p>


<%= link_to 'Edit', edit_nba_team_path(@nba_team) %> |
<%= link_to 'Back', nba_teams_path %>
