<p id="notice"><%= notice %></p>

<p>
  <b>Home team:</b>
  <%= @nba_game.home_team_id %>
</p>

<p>
  <b>Away team:</b>
  <%= @nba_game.away_team_id %>
</p>

<p>
  <b>Home wins:</b>
  <%= @nba_game.home_wins %>
</p>

<p>
  <b>Home losses:</b>
  <%= @nba_game.home_losses %>
</p>

<p>
  <b>Away wins:</b>
  <%= @nba_game.away_wins %>
</p>

<p>
  <b>Away losses:</b>
  <%= @nba_game.away_losses %>
</p>

<p>
  <b>Home wins home:</b>
  <%= @nba_game.home_wins_home %>
</p>

<p>
  <b>Away wins away:</b>
  <%= @nba_game.away_wins_away %>
</p>

<p>
  <b>Home ats wins:</b>
  <%= @nba_game.home_ats_wins %>
</p>

<p>
  <b>Home ats losses:</b>
  <%= @nba_game.home_ats_losses %>
</p>

<p>
  <b>Home ats pushes:</b>
  <%= @nba_game.home_ats_pushes %>
</p>

<p>
  <b>Home ats wins home:</b>
  <%= @nba_game.home_ats_wins_home %>
</p>

<p>
  <b>Home ats losses home:</b>
  <%= @nba_game.home_ats_losses_home %>
</p>

<p>
  <b>Home ats pushes home:</b>
  <%= @nba_game.home_ats_pushes_home %>
</p>

<p>
  <b>Integer:</b>
  <%= @nba_game.integer %>
</p>

<p>
  <b>Away ats wins:</b>
  <%= @nba_game.away_ats_wins %>
</p>

<p>
  <b>Away ats losses:</b>
  <%= @nba_game.away_ats_losses %>
</p>

<p>
  <b>Away ats pushes:</b>
  <%= @nba_game.away_ats_pushes %>
</p>

<p>
  <b>Away ats wins away:</b>
  <%= @nba_game.away_ats_wins_away %>
</p>

<p>
  <b>Away ats losses away:</b>
  <%= @nba_game.away_ats_losses_away %>
</p>

<p>
  <b>Away ats pushes away:</b>
  <%= @nba_game.away_ats_pushes_away %>
</p>

<p>
  <b>Home overs:</b>
  <%= @nba_game.home_overs %>
</p>

<p>
  <b>Home unders:</b>
  <%= @nba_game.home_unders %>
</p>

<p>
  <b>Home overs home:</b>
  <%= @nba_game.home_overs_home %>
</p>

<p>
  <b>Home unders home:</b>
  <%= @nba_game.home_unders_home %>
</p>

<p>
  <b>Away overs:</b>
  <%= @nba_game.away_overs %>
</p>

<p>
  <b>Away unders:</b>
  <%= @nba_game.away_unders %>
</p>

<p>
  <b>Away overs away:</b>
  <%= @nba_game.away_overs_away %>
</p>

<p>
  <b>Away unders away:</b>
  <%= @nba_game.away_unders_away %>
</p>

<p>
  <b>Home win streak:</b>
  <%= @nba_game.home_win_streak %>
</p>

<p>
  <b>Home win streak home:</b>
  <%= @nba_game.home_win_streak_home %>
</p>

<p>
  <b>Home over streak:</b>
  <%= @nba_game.home_over_streak %>
</p>

<p>
  <b>Home over streak home:</b>
  <%= @nba_game.home_over_streak_home %>
</p>

<p>
  <b>Away win streak:</b>
  <%= @nba_game.away_win_streak %>
</p>

<p>
  <b>Away win streak away:</b>
  <%= @nba_game.away_win_streak_away %>
</p>

<p>
  <b>Away over streak:</b>
  <%= @nba_game.away_over_streak %>
</p>

<p>
  <b>Away over streak away:</b>
  <%= @nba_game.away_over_streak_away %>
</p>

<p>
  <b>Home ats streak:</b>
  <%= @nba_game.home_ats_streak %>
</p>

<p>
  <b>Home ats streak home:</b>
  <%= @nba_game.home_ats_streak_home %>
</p>

<p>
  <b>Away ats streak:</b>
  <%= @nba_game.away_ats_streak %>
</p>

<p>
  <b>Away ats streak away:</b>
  <%= @nba_game.away_ats_streak_away %>
</p>


<%= link_to 'Edit', edit_nba_game_path(@nba_game) %> |
<%= link_to 'Back', nba_games_path %>
